@import "normalize.scss";

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.eot');
    src: local('Gilroy Light'), local('Gilroy-Light'),
        url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Light.woff2') format('woff2'),
        url('../fonts/Gilroy-Light.woff') format('woff'),
        url('../fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Semibold.eot');
    src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
        url('../fonts/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
        url('../fonts/Gilroy-Semibold.woff') format('woff'),
        url('../fonts/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-UltraLight.eot');
    src: local('Gilroy UltraLight'), local('Gilroy-UltraLight'),
        url('../fonts/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-UltraLight.woff2') format('woff2'),
        url('../fonts/Gilroy-UltraLight.woff') format('woff'),
        url('../fonts/Gilroy-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Thin.eot');
    src: local('Gilroy Thin'), local('Gilroy-Thin'),
        url('../fonts/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Thin.woff2') format('woff2'),
        url('../fonts/Gilroy-Thin.woff') format('woff'),
        url('../fonts/Gilroy-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}


body {
    margin: 0 auto;
    font-family: "Gilroy", "Arial", serif;
    font-family: Gilroy, Arial, serif;
    font-style: normal;
    color: #242424;
    font-size: 16px;
}

.link {
    text-decoration-line: underline;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: #AD7F00;
    margin: 10px 0;
}

// ОБЩИЕ КНОПКИ И СОЦИАЛЬНЫЕ
.button {
    width: 183px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__link {
        color: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 173px;
        height: 32px;
        text-decoration: none;
        font-weight: 500;
        font-size: 20px;
        line-height: 40px;
    }
}

.button-orange {
    background: linear-gradient(180deg, #FFDE89 0%, #FFCB38 100%);
    box-shadow: 7px 7px 16px #E3E3E3, -3px -4px 8px rgba(255, 255, 255, 0.9), inset 13px 22px 8px rgba(0, 0, 0, 0.02);
    border-radius: 58px;
    &__link {
        background: linear-gradient(180deg, #FFECB5 0%, #FFE69F 0.01%, #FFD45A 100%);
        box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
        border-radius: 58px;
    }
}

.button-white {
    background: #F6F6F6;
    box-shadow: 7px 7px 16px #E3E3E3, -4px -4px 8px rgba(255, 255, 255, 0.7), inset 13px 22px 8px rgba(0, 0, 0, 0.02);
    border-radius: 58px;
    &__link {
        background: linear-gradient(180deg, #FBFBFB 0%, #F6F6F6 100%);
        box-shadow: 3px 3px 13px rgba(128, 128, 128, 0.25);
        border-radius: 58px;
    }
}


.social-button {
    &:first-child {
        margin-right: 28px;
    }
    text-decoration: none;  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63px;
    height: 63px;
    border-radius: 50%;
    img {
        max-width: 100%;
    }
    &__link {
        flex-shrink: 0;
        width: 49px;
        height: 49px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @media (max-width: 1024px) {
        width: 54px;
        height: 54px;
        &__link {
            width: 40px;
            height: 40px;
        }
    }
    @media (max-width: 768px) {
        width: 46px;
        height: 46px;
        &:first-child {
            margin-right: 22px;
        }
        &__link {
            width: 32px;
            height: 32px;
        }
    }

}
// ОБЩИЕ КНОПКИ И СОЦИАЛЬНЫЕ

.container {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 110px;
    @media (max-width: 1270px) {
        max-width: 1024px;
    }
    @media (max-width: 1024px) {
        max-width: 768px;
    }
    @media (max-width: 768px) {
        max-width: 640px;
    }
    @media (max-width: 640px) {
        max-width: 360px;
    }
}



@media (max-width: 1270px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
}
@media (max-width: 640px) {
}


.our-pets {
    padding-bottom: 71px;
    background-color: #f6f6f6;
    &__container {
        padding-top: 72px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
    }
    &__header {}
    &__title {
        margin: 0;
        margin-bottom: 14px;
        font-weight: 300;
        font-size: 28px;
        line-height: 24px;
    }
    &__all-pets-link {
        font-size: 20px;
    }
    &__preview {
        margin-top: 20px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        max-width: 1146px;
        margin-bottom: 19px;
        @media (max-width: 1270px) {
            max-width: 804px;
            justify-content: space-between;
        }
        @media (max-width: 1024px) {
            max-width: 368px;
        }
        @media (max-width: 768px) {
        }
        @media (max-width: 640px) {
        }
    }
    &__pet {
        position: relative;
        &_active {
           
        }
        &:not(:nth-child(3n)) {
            margin-right: 20px;
        }
        &:nth-child(n+4) {
            margin-top: 44px;
        }
        &:last-child {
        
        }
        width: 368px;
        padding: 16px 16px 0 16px;
        background: #F6F6F6;
        box-shadow: 6px 6px 16px rgba(163, 163, 163, 0.6), -8px -8px 16px #FFFFFF, inset 4px 4px 16px rgba(203, 203, 203, 0.25);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media (max-width: 1270px) {  
            &:nth-child(n+3) {
                margin-top: 44px;
            }      
            &:not(:nth-child(3n)) {
                margin-right: 0;
            }
        }
        @media (max-width: 1024px) {
            &:nth-child(n+2) {
                margin-top: 44px;
            }    
        }
        @media (max-width: 768px) {
            width: 300px;
            &:nth-child(n+2) {
                margin-top: 22px;
            }    
        }
        @media (max-width: 640px) {
        }
        
    }
    &__pet-image img{
        max-width: 100%;
    }
    &__pet-name {
        padding: 0;
        margin: 0;
        align-self: center;
        margin: 0;
        font-weight: 500;
        font-size: 22px;
        line-height: 20px;
        margin: 8px 0 10px 0;
    }
    &__pet-info {
        width: 100%;
        flex-grow: 1;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            width: 100%;
            border-top: 1px solid #D6D6D6;
        }
    }
    &__pet-about {
        margin: 0;
        padding: 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
    }
    &__pet-about_title {
        margin-top: 8px;
        margin-bottom: 6px;
        color: #6B6B6B;
    }
    &__current-pet-link {
        margin: 0;
        padding: 0;
    }
    &__preview-control {
        display: flex;
        justify-content: center;

        &_active {
            position: absolute;
            padding-top: 45px;
            background: #F6F6F6;
            border-radius: 5px;
            border-top: 0px;
            width: 100%;
            left: 0;
            z-index: 5;
            bottom: -100px;
            
            
        }
    }
    &__arrow {
        width: 77px;
        height: 77px;
        background: #F6F6F6;
        border: 1px solid rgba(255, 255, 255, 0.5);
        box-sizing: border-box;
        box-shadow: 6px 6px 16px rgba(224, 224, 224, 0.6), -6px -6px 16px rgba(255, 255, 255, 0.77);
        border-radius: 50%;
    }
    &__arrow-left {
        background: url('../img/our-pets/bi_arrow-left-circle.svg') no-repeat center;
    }
    &__arrow-right {
        background: url('../img/our-pets/bi_arrow-right-circle.svg') no-repeat center;
    }
    &__buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    &__button-orange {
        width: 209px;
        height: 42px;
    }
    &__button-link_orange {
        width: 199px;
        height: 32px;
    }
    &__button-white {
        width: 296px;
    }
    &__button-white-link {
        width: 286px;
    }
    &__footer {
        margin-top: 72px;
        width: 779px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__footer-text {
        font-size: 18px;
        line-height: 24px;
        width: 583px;
    }
    &__social {
        display: flex;
        justify-content: space-between;
    }
    &__social-button {
        &:first-child {
            margin-right: 32px;
        }
        background: linear-gradient(144.1deg, #FFFFFF 12.45%, #FBFBFB 89.31%);
        box-shadow: 7px 7px 16px rgba(213, 213, 213, 0.6), -6px -6px 8px #FFFFFF, inset 13px 22px 8px #F3F3F3;
    }
    &__social-link {
        background: linear-gradient(145.67deg, #FFFFFF 15.39%, #E4E4E4 88.3%);
        box-shadow: 3px 3px 13px #B1B1B1;
    }
}

.page-footer {
    min-height: 117px;
    padding-top: 40px;
    &__container {
  
    }
    &__content {}
    &__nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__link {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        text-decoration-line: underline;
        color: #474747;
    }
    &__social {}
    &__social-link {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-decoration-line: underline;
        color: #242424;
        &_first {
            margin-right: 42px;
            margin-left: 122px;
        }
    }
    &__copyright {
        margin-top: 24px;
        text-align: center;
        font-weight: normal;
        font-size: 12px;
        line-height: 140%;
        color: #B3B3B3;
    }
}

